body{
	background: none repeat scroll 0 0 white;
    font-family: 'Iceland',cursive;
    font-size: 1.4em;
}

nav.top-bar {
	background:linear-gradient(90deg, #1D2244 19%, #0D1234 100%) repeat scroll 0 0 transparent;
	margin-bottom:2em;
}

nav.top-bar .toggle-topbar.menu-icon a span{
	-webkit-box-shadow: 0 10px 0 1px #ffffff, 0 16px 0 1px #ffffff, 0 22px 0 1px #ffffff;
	 box-shadow: 0 10px 0 1px #ffffff, 0 16px 0 1px #ffffff, 0 22px 0 1px #ffffff; 
}

h1 a{
    color: #ffffff !important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    transition: all 0.2s ease-in-out 0s;
    font-family: 'Iceland', cursive;
    font-size: 1.8em;
}

h2 {
	color: #FFFFFF;
	text-align:center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    transition: all 0.2s ease-in-out 0s;
    font-family: 'Iceland', cursive;
    letter-spacing: 0.2em;
}

h2:hover {
    color: #40AF99;
    text-decoration: none;
    text-shadow: 0 0 40px rgba(255, 255, 255, 0.25);
}

p.result {
	color: #1D2244;
	font-weight: bold;
}

.pill {
    background: linear-gradient(90deg, #1D2244 19%, #0D1234 100%) repeat scroll 0 0 transparent;
    border: 2px solid #567C9A;
    border-radius: 2px 2px 2px 2px;
    color: #ffffff;
    font-weight: bold;
    padding: 2px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}

label{
    color: #1D2244 !important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    transition: all 0.2s ease-in-out 0s;
    font-weight: bold;
}

.toggle-topbar.menu-icon a{
	color: #ffffff !important;
}

.topbar-menu-link-color{
	color: #ffffff !important;
}

input, textarea {
	border-radius: 2px;
}

textarea {
	height: 200px;
}

input.submit{
	background-color: #ffffff;
	color: #1D2244;
	border-color:#1D2244;
	float:right;
}
