@(title: String)(content: Html)
<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" >
	<!--<![endif]-->

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>ACOTA - @title</title>

		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/foundation.css")" />
		<link href='http://fonts.googleapis.com/css?family=Iceland' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/site.css")" />
	</head>
    <body>
    	<nav class="top-bar">
			<ul class="title-area">
				<!-- Title Area -->
				<li class="name">
					<h1><a class="brand" href="#">
						ACOTA
					</a></h1>
				</li>
				<li class="toggle-topbar menu-icon">
					<a href="#"><span>Menu</span></a>
				</li>
			</ul>
		</nav>
        @content
		<script>
			document.write('<script src=' + ('@routes.Assets.at("javascripts/vendor/jquery")') + '.js><\/script>')
		</script>
		<script>
			function Form(){
				var modified = false;
				
				this.result = $(".result");
				
				this.recommendations = {}
				
				this.uri = " ";
				this.label = " ";
				this.description = " ";
			};
			
			Form.prototype.isReady = function(){
				return this.label.length > 15 && this.description.length > 30;
			}
			
			Form.prototype.getJson = function(){
				return {"uri":this.uri, "label":this.label, "description":this.description};
			}
			
			var form = new Form();
			
			$('#uri').change(function() {
				form.uri = $(this).val();
				doPost();
			});
			
			$('#label').change(function() {
				form.label = $(this).val();
				doPost();
			});
				
			$('#description').change(function() {
				form.description = $(this).val();
				doPost();
			});
			
			$(document).keyup(function(evt) {
			    if (evt.keyCode == 32) {
 			    	doPost();
 				}
			});
			
			function doPost(){
				if(form.isReady()){
					$.ajax({
						type:"POST",
						url:"/recommend",
						contentType:"application/json",
						data: JSON.stringify(form.getJson()),
						complete: function(){
							
						},
						success: function(data, textStatus, jqXHR){
							var i = 0;
							$.each(data.recommendations, function(){
								form.result.append('<span class="pill">'+this.label + '('+this.lang+') </span>');
							});
						},
						error: function(jqXHR, textStatus, errorThrown){
							alert(":( "+textStatus+" "+errorThrown);
						}
					});
				}
			};
		</script>
	</body>
</html>