@(message: String)(implicit request: RequestHeader)

@main(message) {
		<div class="row" data-ws="@routes.WebSocket.recommend.webSocketURL()">
			<div class="large-8 large-centered columns">
				<div class="row">
					<div class="large-12 columns">
						<p>Tags:</p>
					</div>
					<div class="large-12 columns feedback ">
					</div>
				</div>
				<form id="custom" class="combined row">
					<div class="large-9 columns f-left">
						<input id="customTag" name="tag" type="text" placeholder="A custom tag...">
					</div>
					<div class="large-3 columns f-right">
						<input id="addCustomTag" type="button" class="button small submit" value="Add Tag">
					</div>
				</form>
				<div class="result">
					<p>Recommended Tags:</p>
				</div>
				<form>
					<div class="row">
						<div class="large-12 columns">
							<label for="uri">URI</label>
							<input id="uri" name="uri" type="text" placeholder="http://www.example.es">
						</div>
					</div>
					<div class="row">
						<div class="large-12 columns">
							<label for="label">Title</label>
							<input id="label" name="label" type="text" placeholder="A nice title...">
						</div>
					</div>
					<div class="row">
						<div class="large-12 columns">
							<label for="description">Description</label>
							<textarea id="description" name="description"  placeholder="A cool description..."></textarea>
						</div>
					</div>
				</form>
			</div>
		</div>
    
}
