@(title: String )

<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en" >
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" >
<!--<![endif]-->

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>ACOTA - @title</title>

		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/foundation.css")" />
		<link href='http://fonts.googleapis.com/css?family=Iceland' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/site.css")" />
	
		<script src="@routes.Assets.at("javascripts/vendor/custom.modernizr.js")"></script>

	</head>
    <body>
		<nav class="top-bar">
			<ul class="title-area">
				<!-- Title Area -->
				<li class="name">
					<h1><a class="brand" href="#">
						ACOTA
					</a></h1>
				</li>
				<li class="toggle-topbar menu-icon">
					<a href="#"><span>Menu</span></a>
				</li>
			</ul>
		</nav>
		<div class="row">
			<div class="large-8 large-centered columns">
				<p class="result">
					Tags: <!--<span class="pill">Semantics</span>
					<span class="pill">Research</span>-->
				</p>
				<form>
					<div class="row">
						<div class="large-12 columns">
							<label>URI</label>
							<input type="text" placeholder="http://www.example.es">
						</div>
					</div>
					<div class="row">
						<div class="large-12 columns">
							<label>Title</label>
							<input type="text" placeholder="A nice title...">
						</div>
					</div>
					<div class="row">
						<div class="large-12 columns">
							<label>Description</label>
							<textarea  placeholder="A cool description..."></textarea>
						</div>
					</div>
					<input type="submit" class="button small submit" value="Generate Tags">
				</form>
			</div>
		<script>
			document.write('<script src=' + ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') + '.js><\/script>')
		</script>
	
		<script src=""@routes.Assets.at("stylesheets/foundation.min.js")"></script>
		<script>
			$(document).foundation();
		</script>
	</body>
</html>