@(message: String)(implicit request: RequestHeader)

@main(message) {
		<div class="row" data-ws="@routes.WebSocket.recommend.webSocketURL()">
			<div class="large-8 large-centered columns">
				<div class="row">
					<div class="large-12 columns">
						<p>Tags:</p>
					</div>
					<div class="large-12 columns feedback ">
					</div>
				</div>
				<form id="custom" class="combined row">
					<div class="large-12 columns">
						<input id="customTag" name="tag" type="text" placeholder="New Tag Name ...">
					</div>
				</form>
				<form id="feedback" class="row">
					<div class="large-12 columns">
						<input id="sendFeedback" type="button" class="button small submit" value="Save Tags">
					</div>
				</form>
				<div class="result">
					<p>Recommended Tags:</p>
				</div>
				<form>
					<div class="row">
						<div class="large-12 columns">
							<label for="uri">URI</label>
							<input id="uri" name="uri" type="text" placeholder="http://www.example.es">
						</div>
					</div>
					<div class="row">
						<div class="large-12 columns">
							<label for="label">Title</label>
							<input id="label" name="label" type="text" placeholder="Add a Nice Title ...">
						</div>
					</div>
					<div class="row">
						<div class="large-12 columns">
							<label for="description">Description</label>
							<textarea id="description" name="description"  placeholder="Add a Cool description ..."></textarea>
						</div>
					</div>
				</form>
			</div>
		</div>
    
}
