@(title: String)(content: Html)
<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" >
	<!--<![endif]-->

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>ACOTA - @title</title>

		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/foundation.css")" />
		<link href='http://fonts.googleapis.com/css?family=Iceland' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/site.css")" />
	</head>
    <body>
    	<nav class="top-bar">
			<ul class="title-area">
				<!-- Title Area -->
				<li class="name">
					<h1><a class="brand" href="#">
						ACOTA
					</a></h1>
				</li>
				<li class="toggle-topbar menu-icon">
					<a href="#"><span>Menu</span></a>
				</li>
			</ul>
		</nav>
        @content
		<script>
			document.write('<script src=' + ('@routes.Assets.at("javascripts/vendor/jquery")') + '.js><\/script>')
		</script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/site.js")"></script>
	</body>
</html>